.container {
    font-size: 20px;
    text-align: left;
    width: 50%;
}

h1 {
font-family:'Palette Mosaic', cursive;
font-size: 40px;
}

p {
font-family: 'Karla', sans-serif;
}

.textBoxEnter {
    width: 75%;
    text-align:center;
    display:block;
    margin: 0 auto;
}

ul {
    text-align: left;
}

.section {
    border-width: 10px;
    border-color:black;

}

h2 {
    font-family:'Palette Mosaic', cursive;
font-size: 30px;
}

button {
    display:block;
    margin: 0 auto;
}

div {
    align-items: center;
    display:block;
    margin: 0 auto;
}
